#cloud-config
hostname: "{{ vm.key }}"
manage_etc_hosts: true
package_upgrade: true

power_state:
 delay: "+1"
 mode: reboot
 message: BRB
 timeout: 30
 condition: True

packages:
  - qemu-guest-agent


users:
  - name: misstreise
    gecos: Treise Paudq
    sudo:  ALL=(ALL) NOPASSWD:ALL
    primary_group: misstreise
    groups: users, admin, sudo
    lock_passwd: false
    shell: /bin/bash
    ssh_authorized_keys:
      - "{{ auth_settings.ansible_user_pub_key }}"

final_message: "The system is finally up, after $UPTIME seconds"